---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <main class="overflow-auto">
    <Hero />
    <AboutMe />
    <Experience />
    <Contact />
  </main>
</Layout>
