---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Leon Casas | Portfolio | Full-Stack Developer"
  description="Leon Casas is a Full‑Stack Developer with years of experience building scalable web applications and SaaS platforms. Specializing in TypeScript, Vue.js, React, AdonisJs and AWS deployments and tailor‑made solutions that drive real results."
>
  <main class="overflow-auto">
    <Hero />
    <AboutMe />
    <Experience />
    <Contact />
  </main>
</Layout>
