---
import Button from "../components/Button.astro";
import Navbar from "../components/Navbar.astro";
import ChevronDownIcon from "../components/icons/ChevronDown.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main class="overflow-auto w-full h-full flex space-x-24">
    <Navbar />
    <section
      class="tracking-wide space-y-3 w-full h-full flex flex-col justify-center-safe relative"
    >
      <p class="font-jetbrains text-primary text-xl">Hi, my name is</p>
      <h1 class="font-jetbrains text-7xl font-bold">Leon Casas</h1>
      <!-- TODO: Add a component w typing animation -->
      <p class="font-jetbrains text-5xl font-bold text-primary">
        I build things for the web.
      </p>
      <h2 class="text-text font-medium break-normal w-1/2 text-xl mt-2">
        I'm a software engineer specializing in building exceptional digital
        experiences. Currently, I'm focused on creating accessible,
        human-centered products.
      </h2>

      <Button text="Check out my work">
        <ChevronDownIcon
          class="mr-3 text-primary group-hover:text-white transition-all ease-in-out duration-300"
        />
      </Button>
    </section>
  </main>
</Layout>
