---
import type { RouteDTO } from "../../types/RouteDTO";

interface Props {
  route: RouteDTO;
}
const { route } = Astro.props;
---

<li class="cursor-pointer">
  <a
    target={route.targetBlank ? "_blank" : "_self"}
    href={route.path}
    aria-label={route.label}
    class="flex items-center md:justify-center"
  >
    <route.icon
      class="text-text hover:text-primary size-5 transition-colors duration-200 ease-in-out md:size-6"
    />
    <span
      class="text-text hover:text-primary ml-3 text-sm capitalize transition-colors duration-200 ease-in-out md:hidden"
    >
      {route.label.replace("-", " ")}
    </span>
  </a>
</li>
