---
import Badge from "./Badge.astro";
import CaretRightIcon from "./icons/CaretRight.astro";
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";

const STACK = [
  "Javascript (ES6+)",
  "TypeScript",
  "Node.js",
  "Vue.js",
  "React",
  "Next.js",
  "Firebase",
  "Postgres",
  "Docker",
  "Git",
];
const ROLES = [
  "Frontend Development",
  "Backend Development",
  "Full Stack Developer",
  "UI/UX",
];
---

<Section id="about-me" class="flex flex-col md:flex-row">
  <div class="mb-10 flex w-full flex-col justify-center-safe md:mb-0 md:w-1/2">
    <SectionTitle>About me</SectionTitle>
    <p class="text-base leading-7 text-pretty md:text-lg">
      Hello! I&apos;m Leon, a <em>Full Stack Developer</em> with <span
        id="experience-years"></span>+ years of hands&#45;on experience turning
      ideas into web applications and SaaS products. I started my career at the
      Universidad Autónoma de Nuevo León, where I grew from a junior developer
      into a team lead—mentoring peers, managing projects, and delivering
      solutions that improved workflows and user experiences. As a
      co&#45;founder of a restaurant&#45;management startup, I&apos;ve worn many
      hats: architecting features, coordinating with stakeholders, and ensuring
      smooth deployments.
      <br />This journey has sharpened my <em
        >problem&#45;solving, leadership, and communication skills</em
      >, and taught me how to guide projects from concept to launch. I&apos;m
      passionate about collaborating with both private clients and enterprises
      to create custom, impactful solutions. I thrive in agile teams, embrace
      continuous learning, and always aim to exceed expectations. Let&apos;s
      work together to bring your next project to life!
    </p>

    <h3
      class="text-primary font-jetbrains mt-10 text-base font-medium md:text-lg"
    >
      Here are a few technologies I've been working with recently:
    </h3>

    <ul
      class="my-5 grid max-w-md list-inside grid-cols-1 space-y-1 sm:grid-cols-2"
    >
      {
        STACK.map((techStackItem) => (
          <li class="text-text/90 flex items-center space-x-3 font-bold">
            <CaretRightIcon class="text-primary" />
            <span>{techStackItem}</span>
          </li>
        ))
      }
    </ul>

    <div class="flex flex-wrap gap-2">
      {
        ROLES.map((role) => (
          <Badge>
            <em>{role}</em>
          </Badge>
        ))
      }
    </div>
  </div>

  <div class="mt-10 flex w-full items-center justify-center md:mt-0 md:w-1/2">
    <div class="relative">
      <div
        class="bg-primary/30 absolute inset-0 animate-pulse rounded-full blur-md"
      >
      </div>
      <img
        src="https://ieaqnraml4.ufs.sh/f/GXuxkfX4GClDkfEowNXOzbf2lw6Brk9xUYEnqi5dsWvI3MVA"
        alt="Myself"
        class="border-primary relative aspect-square w-full max-w-xs transform rounded-full border-2 object-cover shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-2xl sm:max-w-sm md:max-w-md"
      />
    </div>
  </div>
</Section>

<script>
  const experienceYears =
    new Date().getUTCFullYear() - new Date("2023-01-01").getUTCFullYear();

  document.getElementById("experience-years")!.textContent =
    experienceYears.toString();
</script>
