---
import Button from "./Button.astro";
import ChevronDownIcon from "../components/icons/ChevronDown.astro";
import Section from "./Section.astro";
import Typewriter from "../components/Typewriter";

const typewriterOptions = {
  strings: [
    "I turn ideas into seamless web experiences.",
    "Building pixel‑perfect, high‑performance apps.",
    "Making complex systems feel simple.",
  ],
  autoStart: true,
  loop: true,
  wrapperClassName: "font-jetbrains text-primary text-5xl font-bold",
  cursorClassName: "text-5xl text-primary animate-typewriter-cursor",
};
---

<Section class="flex flex-col justify-center-safe space-y-3 tracking-wide">
  <p class="font-jetbrains text-primary text-xl">Hi, my name is</p>
  <h1 class="font-jetbrains text-7xl font-bold">Leon Casas</h1>
  <Typewriter options={typewriterOptions} client:load />

  <h2 class="text-text mt-2 w-1/2 text-xl font-medium break-normal">
    I'm a software engineer specializing in building exceptional digital
    experiences. Currently, I'm focused on creating accessible, human-centered
    products.
  </h2>

  <Button text="Check out my work">
    <ChevronDownIcon
      class="text-primary mr-3 transition-all duration-300 ease-in-out group-hover:text-white"
    />
  </Button>
</Section>
