---
interface Props {
  //   id: string;
  class?: string;
}
const { class: className } = Astro.props;
---

<!-- TODO: Add data-sections -->
<section class:list={["text-text h-screen p-32", className]}>
  <slot />
</section>
