---
interface Props {
  id: string;
  class?: string;
}
const { id, class: className } = Astro.props;
---

<!-- TODO: Add data-sections -->
<section
  id={id}
  class:list={["text-text h-screen md:px-40 md:py-24", className]}
>
  <slot />
</section>
