---
import type { TimelineItemDTO } from "../types/TimelineItemDTO";
import CaretRightIcon from "./icons/CaretRight.astro";

interface Props {
  items: TimelineItemDTO[];
}
const { items } = Astro.props;
---

{
  items.map((item) => (
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="ms-5 mb-10 sm:ms-7">
        <span class="absolute -start-3 flex size-6 items-center justify-center rounded-full bg-blue-900 p-1 ring-4 ring-gray-900 sm:size-8 sm:ring-8">
          <item.icon />
        </span>
        <time class="mb-2 block text-xs leading-none font-normal text-gray-400 sm:text-sm dark:text-gray-500">
          {item.date}
        </time>
        <h3 class="mb-1 flex items-center text-base font-semibold text-gray-900 sm:text-lg dark:text-white">
          {item.title}
        </h3>
        <span class="text-primary font-jetbrains mb-1 block text-xs leading-none font-semibold sm:text-sm">
          {item.company}
        </span>
        <ul class="my-3 w-full list-outside space-y-3 sm:my-5 sm:w-11/12">
          {item.experienceHighlights.map((highlight) => (
            <li class="text-text/90 flex space-x-2 text-sm font-normal text-pretty sm:space-x-3 sm:text-base">
              <CaretRightIcon class="text-primary mt-0.5 size-4 flex-none sm:size-5" />
              <span>{highlight}</span>
            </li>
          ))}
        </ul>
      </li>
    </ol>
  ))
}
